*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font style */

h2{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

/* font style */


/* top banner section style */
#top-banner{
    background-image: url("/images/donation0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}

.banner-overlay{
    background-image: linear-gradient(rgb(0 0 0 / 86%), rgb(81 70 70 / 37%));
    height: 560px;
}

.banner-inner-text{
    text-align: center;
  padding-top: 160px;
  color: #fff;
}

.banner-inner-text h2{
    font-size: 40px;
    width: 43%;
    margin: auto;
    margin-bottom: 10px;
}

.banner-inner-text p{
    width: 37%;
    margin: auto;
    margin-bottom: 10px;
}

.donate-btn{
    padding: 7px 7px;
    background-color: #FF5959;
    width: 133px;
    margin: 10px auto;
    border-radius: 5px;
}

.donate-btn a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-family: poppins;
}

/* top banner section style end  */

/* ====================================================== */

/* donate today section start */
.donate-today-section{
    margin-top: 70px;
}

.donate-today-text-info{
    text-align: center;
}

.donate-today-text-info h2{
    margin-bottom: 20px;
}

.donate-today-text-info p{
    width: 51%;
    margin: auto;
    margin-bottom: 20px;
}

.donate-amount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 68%;
    margin: 30px auto;
}

.submit-donate{
    text-align: center;
    margin-bottom: 20px;
}

.submit-donate input::placeholder{
    text-align: center;
    font-family: poppins;
 }

 .submit-donate input{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 60%;
    padding: 2px;
    
 }
 .submit-donate input:focus{
    outline: none;
 }


 .donate-amount-box{
    width: 100px;
    background-color: #80808021;
    text-align: center;
    padding: 28px;
    border-radius: 4px;
 }

 .active{
    border: 1px solid #FF5959;
    background-color: #f4dfdf;
    color: #FF5959;
 }

/* donate toady section end */